# Dependencies
node_modules

# Build output
dist
build

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# OS and editor files
.DS_Store
Thumbs.db

# Git
.git
.gitignore


# Testing
coverage

# Docker-related
Dockerfile
.dockerignore

# Editors / IDEs
.vscode
.idea